/*Asignacion de fuente*/
@font-face{
	font-family:'Dancing Script';
	src:url(fonts/DancingScript-Regular.ttf);
}
body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}
img{
	filter: drop-shadow(2px 2px 2px #02010a);
}
.foto1:hover {
	transform: rotate(10deg);
}
.foto2:hover{
	transform: translate(20px,-5px);
	filter: drop-shadow(2px 2px 2px #82c3a6);
}
.icono{
	width: 25px !Important;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 2px #413F3E);
}

/*Adaptabilidad a los dispositivos con pantallas inferiores a los 900px----------------------------------------------------*/
@media (max-width: 900px){
.contenido{
	width:  100%;
	margin: auto;
}

.encabezado{
	/*Propiedades generales*/
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	/*Propiedades de flex para encabezado*/
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.icono{
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	text-shadow: 2px 2px #02010a;
	}
.barra{
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	align-self: center;
}
.barra a{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
}
.barra a:hover{
	color: red;
}
/*estilos del cuerpo de la pagina*/
.seccion1{	
	background-color: #82c3a6;
}
.seccion1 img{	
	width: 90%;
	margin:1% 5% 1% 5%;
}
/*Estilos para la segunda sesion de la pagina donde se encuentran las dos imagenes*/
.seccion2{
	background-color: #d5c75f;
	border: 1px solid gray;
	margin: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.seccion2 img{	
	margin: 5px;
	width:98%;
	height: 90%;
}
.pie{
	border-radius: 00px 0px 10px 10px;
	background-color: #C6d5c5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.pie1{
	margin: 5px;
}
}
/*Adaptabilidad a los dispositivos con pantallas superiores a los 900px----------------------------------------------------*/
@media (min-width: 900px){
.contenido{
width:  900px;
margin: auto;
}
.encabezado{
	/*Propiedades generales*/
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	top: 0px;
	/*Propiedades de flex para encabezado*/
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.icono{
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	text-shadow: 2px 2px #02010a;
	flex-grow: 1;

}
.barra{
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}
.barra a{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
}
.barra a:hover{
	color: red;
}
/*estilos del cuerpo de la pagina*/
.seccion1{	
	background-color: #82c3a6;
}
.seccion1 img{	
	width: 80%;
	margin:1% 10% 1% 10%;
}
/*Estilos para la segunda sesion de la pagina donde se encuentran las dos imagenes*/
.seccion2{
	background-color: #d5c75f;
	border: 1px solid gray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack:distribute;
	justify-content:space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.seccion2 img{	
	width: 49%;
	margin-top: 2%;
	margin-bottom: 2%;
}
/*estilos para el pie de pagina de pantallas superiores a los 900px*/
.pie{
	border-radius: 00px 0px 10px 10px;
	background-color: #C6d5c5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.pie1{
	margin: 5px;
}
}
/*Estilos adicionales para la pagina paisajes.html y su contenido.*/
.paisajeDiv{
 background-color: #d5c75f;
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: space-around;
}
.paisajeDiv img{
 width: 29%;
 height: 29%;
 margin-top: 10px;
 margin-bottom: 10px;
}